<div class="placeholder" style="background-color: white" ng-controller="BikesController">

    <div style="position: absolute; left: -165px; bottom: 0; right: 0; top: 0; margin-right: -70px">
        <table style="position: absolute; width: auto; height: 100%; border-spacing: 0;">
            <tr>
                <td class="bike-hover" style="width: 50%"></td>
                <td class="bike-hover" style="min-width: 161px"></td>
                <td ng-repeat="bike in bikes"
                    class="bike-line bike-hover"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false"
                    ng-class="{'hover-active': bike.hover}">
                </td>
                <td class="bike-hover" style="width: 50%"></td>
                <td class="bike-hover" style="min-width: 10px"></td>
            </tr>
        </table>

        <table class="bike-table">
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="bike-image" style="position: relative">
                        <div class="bike-hover" ng-class="{'hover-active': bike.hover}"></div>
                        <img ng-src="{{bike.imageUrl}}" />
                        <span ng-click="context.showBike($index)"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="bike-title">
                        <b>{{bike.title}}</b>
                        {{bike.description}}
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    class="colors-td"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="color-blocks">
                        <span ng-repeat="color in bike.colors" style="background-color: {{color}};"></span>
                    </div>
                <span ng-switch on="bike.colors.length">
                    <div ng-switch-when="2">В двух цветах</div>
                    <div ng-switch-default>Цвет</div>
                </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="bike-price"><div>Цена</div><b>{{bike.price | money}}</b></div>
                    <div class="bike-old-price">Старая цена<span> {{bike.oldPrice | money}}</span></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="bike-sale">
                        <div class="bike-sale-percent">{{(100 * bike.price / bike.oldPrice - 100).toFixed()}}%</div>
                        <div class="bike-sale-money">Экономия<span> {{bike.oldPrice - bike.price | money}}</span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div>Кол-во скоростей и тип переключателя</div></td>
                <td ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    {{bike.rateNumber}} {{bike.switchType}}
                </td>
            </tr>
            <tr>
                <td class="tail-td"><div>Вес велосипеда</div></td>
                <td ng-repeat="bike in bikes"
                    class="tail-td"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    {{bike.weight | decimal}} кг
                </td>
            </tr>
            <tr>
                <td class="tail-td"><div>Тормоза</div></td>
                <td class="tail-td" ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    {{bike.brakes}}
                </td>
            </tr>
            <tr>
                <td class="tail-td"><div>Амортизационная вилка</div></td>
                <td class="tail-td last-td"
                    ng-repeat="bike in bikes"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    {{bike.suspensionFork}}
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="bike in bikes"
                    class="bike-buy-td"
                    ng-mouseenter="bike.hover = true"
                    ng-mouseleave="bike.hover = false">
                    <div class="bike-arrow"></div>
                    <a class="bike-buy" ng-href="{{bike.url}}">КУПИТЬ</a>
                    <div class="bike-more" ng-click="context.showBike($index)">ПОДРОБНЕЕ</div>
                </td>
            </tr>
        </table>
    </div>

    <!-- footer -->
    <table class="slide-footer">
        <tr>
            <td class="slide-footer-logo"></td>
            <td class="slide-footer-call">
                <div>8 800 100 0503</div>
                звонок бесплатный
            </td>
            <td class="slide-footer-mail">
                <a href="mailto:info@sportiv.ru">INFO@SPORTIV.RU</a>
            </td>
            <td class="slide-footer-link" width="205">
                <a href="contacts/address-1.html">Sportiv на Ленинском</a>
                <a href="contacts/address-2.html">Sportiv на Бауманской</a>
            </td>
            <td class="slide-footer-link" style="padding-left: 10px">
                <a href="contacts/address-3.html">Доставка и оплата</a>
            </td>
            <td class="slide-footer-up" ng-click="$parent.$parent.setIndex(0)"></td>
        </tr>
    </table>
</div>

<div slide-info style="float: right; top: 0;">
    <div style="background-color: black; opacity: 0.06; width: 600px; height: 70px;"></div>
    <div style="padding: 15px 0 0 42px; font-size: 25pt; margin-top: -70px;">ВЫБЕРИ СВОЙ САМЫЙ ЛЕГКИЙ LEVEL</div>
</div>