<div class="viewer" ng-if="data">

    <!-- navigator -->
    <div class="navigator" ng-class="{flip: navigatorFlip}">
        <a class="arrow arrow-up" ng-click="movePrev()" ng-show="canMovePrev"></a>
        <a class="arrow" ng-click="moveNext()" ng-show="canMoveNext"></a>
        <div class="slider">
            <div class="scale" style="height: {{29 * (data.length - 1) + 1}}px"></div>
            <div class="pointer" style="top: {{29 * (navigatorFlip ? data.length-1-index : index)}}px"></div>
        </div>
    </div>

    <!-- slides -->
    <div ng-repeat="slide in data">
        <div class="slide"
             ng-class="{active: $index === index, 'animate-show': prevIndex !== undefined, up: prevIndex > index}"
             ng-show="$index === index || $index === prevIndex">

            <!-- slide sketch -->
            <img class="sketch"
                 ng-if="sketchShow"
                 ng-src="{{slide.sketchUrl}}" />

            <!-- slide -->
            <div ng-include="slide.templateUrl"></div>
        </div>
    </div>

    <!-- placeholder -->
    <img src="/images/bicycle-1.jpg" />
</div>