<div slide-info style="left: 0;">
    <img style="position: absolute; right: 0;" src="/images/slide-6-info.png" />

    <div class="slide-hint" style="left: 170px; top: 513px">
        <div class="hint-content">Переключение скоростей</div>
        <div class="hint-pointer" style="margin-left: 161px"></div>
    </div>

    <div class="slide-hint" style="left: 266px; top: 313px">
        <div class="hint-content">Двойные обода</div>
        <div class="hint-pointer" style="margin-left: 91px"></div>
    </div>

    <div class="slide-hint" style="left: 364px; top: 145px">
        <div class="hint-pointer flip" style="margin-left: 154px"></div>
        <div class="hint-content flip">Удобное седло</div>
    </div>

    <div class="slide-hint" style="left: 855px; top: 126px">
        <div class="hint-pointer flip" style="margin-left: 144px"></div>
        <div class="hint-content flip">Широкий руль</div>
    </div>

    <div class="slide-hint" style="left: 926px; top: 304px">
        <div class="hint-content flip">Амортизация</div>
        <div class="hint-pointer" style="margin-left: 144px"></div>
    </div>

    <div class="slide-hint" style="left: 1024px; top: 487px">
        <div class="hint-content">Дисковая гидравлика Avid</div>
        <div class="hint-pointer" style="margin-left: 162px"></div>
    </div>
</div>

<img src="/images/bicycle-6.jpg" />