.navigator {
    position: absolute;
    right: 0;
    z-index: 1;
}

.slider {
    position: relative;
    margin-top: 25px;
}

.scale {
    background-image: url("/images/scale.png");
    width: 14px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 20px;
}

.pointer {
    background-image: url("/images/slider.png");
    width: 27px;
    height: 15px;
    position: absolute;
    margin-top: -7px;
    top: 0;
    right: 14px;
}

.slide {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.arrow {
    display: block;
    cursor: pointer;
    background-image: url("/images/arrow.png");
    width: 55px;
    height: 70px;
    margin: 2px;
}

.arrow-up {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.moving-slide {
    position: absolute;
}

.moving-slide.animate-show {
    display: block !important;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 1;
    top: 0;
}
.moving-slide.animate-show.ng-hide {
    -webkit-transition: all linear 0s;
    transition: all linear 0s;
    opacity: 0;
    top: 700px;
}

.moving-slide.animate-show.up.ng-hide {
    top: -700px;
}